body {
  display: flex;
  justify-content: center;
  background-color: hsl(30, 38%, 92%);
  margin-top: 25%;
  margin-left: 25%;
  margin-bottom: 25%;
  margin-right: 25%;
}

.img-card {
  display: grid;
  justify-content: center;
  margin-left: 2px;
}

#perfume-img {
  width: 350px;
  height: 480px;
  border-radius: 10px 0px 0px 10px;
}

.summary-card {
  display: grid;
  justify-content: center;
  width: 350px;
  height: 480px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0px 10px 10px 0px;
}

.perfume {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: hsl(228, 12%, 48%);
  width: 250px;
  padding-left: 30px;
  padding-top: 30px;
}

.name {
  font-family: "Fraunces", serif;
  font-size: 2.1rem;
  width: 250px;
  padding-left: 30px;
  padding-top: 20px;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  width: 250px;
  color: hsl(229, 13%, 61%);
  padding-left: 30px;
  padding-top: 8px;
}

#low-price {
  display: inline;
  color: hsl(158, 36%, 37%);
  font-size: 2.1rem;
}

.price {
  font-family: "Montserrat", sans-serif;
  width: 250px;
  color: hsl(228, 12%, 48%);
  padding-left: 30px;
}

button {
  width: 250px;
  height: 45px;
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  padding-bottom: 5px;
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  color: hsl(159, 64%, 10%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
